body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f2f5;
}


.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #715d48;
}


.ana-gorsel-bolumu {
    position: relative;
    width: 100%;
    height: 850px;
    background-image: url('kudüs.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}


.ana-gorsel-bolumu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}


.arama-kutusu-kapsayici {
    position: relative;
    z-index: 2;
    width: 500px;
    box-sizing: border-box;

}


.arama-input {
    border-radius: 50px 0 0 50px body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f0f2f5;
    }


    .navbar-brand {
        font-weight: bold;
        font-size: 1.5rem;
        color: #007bff ;
    }


    .ana-gorsel-bolumu {
        position: relative;
        width: 100%;
        height: 600px;


        background-image: url('kudüs.jpeg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;


        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 0;

    }

    .ana-gorsel-bolumu::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }


    .arama-kutusu-kapsayici {
        position: relative;
        z-index: 2;
        width: 500px;
        box-sizing: border-box;
    }

    .arama-input {
        border-radius: 50px 0 0 50px !important;
        font-size: 1.1em;
        padding-left: 1.5rem;
    }

    .arama-butonu {
        border-radius: 0 50px 50px 0 !important;
        font-size: 1.1em;
    }

    .giris-bolumu {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }

    .giris-basligi {
        margin-bottom: 15px;
        color: #333;
    }

    .giris-aciklama {
        font-size: 1.1em;
        line-height: 1.8;
        color: #555;
    }

    .arama-kutusu-kapsayici {
        flex-direction: column;
        /* Alt alta dizilsin */
        border-radius: 10px;
        box-shadow: none;
    }

    .arama-input {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .arama-butonu {
        border-radius: 5px;
    }

    .giris-basligi {
        font-size: 1.8em;
    }

    .giris-aciklama {
        font-size: 1em;
    }

    .arama-butonu {
        border-radius: 0 50px 50px 0;
        font-size: 1.1em;
    }

    .giris-bolumu {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }

    .giris-basligi {
        margin-bottom: 15px;
        color: #333;
    }

    .giris-aciklama {
        font-size: 1.1em;
        line-height: 1.8;
        color: #555;
    }